/* Font faces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* End of font faces */

/* root */
:root {
    --background: rgb(231, 229, 229);
    --background-2: rgb(139, 177, 242);
    --background-3: rgb(118, 136, 238);
    /* text */
    --text: rgb(107, 106, 106);
    --text-harga: rgb(255, 109, 109);
    --text-2: rgb(63, 81, 218);
    --text-3: rgb(129, 129, 236);
}

/* other */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: var(--text);
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
}

html,
body {
    background: var(--background);
}

a {
    text-decoration: none;    
}


.btnhvr {
    color: #fff;
}

.btnhvr:hover {
    color: rgb(144, 67, 207);
}

* { 
    margin: 0;
    padding: 0; 
}

/*  Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    border: 3px solid transparent;
}


/* opentext */

#opentext {
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    background: rgb(165, 165, 165);
}

#opentext h3 {
    font-size: 35px;
    color: #fff;
    font-family: candara;
}

.lebih-lanjut {
    margin-top: 15px;
    background: rgb(175, 98, 98);
    padding: 10px 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.lebih-lanjut:hover {
    margin-left: 4%;
    transition: 0.4s;
    color: #fff;
}

.container-1 {
    max-width: 900px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.slider .slick-slide img {
    width: 100%;
}


/* header */
#header {
    margin-top: 8%;
}

#header h1 {
    margin-top: 13%;
}

#header img {
    border-radius: 12px;
}

#header p {
    font-size: 20px;
    margin-top: 5px;
}

/* candi */
#candi { 
    margin-top: 10%;
    /* background: linear-gradient(
        to bottom, rgb(255, 255, 255),
        #ececec, #ececec); */
}

#candi img {
    border-radius: 12px;
    margin-top: 15%;
    

}

#candi .deskripsi {
    margin-left: 55px;
    margin-top: 5px;
    font-size: 20px;
}   

#candi h1 {
    margin-top: 17%;
    font-size: 35px;
}

#candi .location {
    color: #fff;
    font-size: 18px;
    margin-top: 8px;
    color: rgb(218, 88, 88);
    text-decoration: none;
}

#candi .location:hover {
    transition: 0.4s;
    margin-left: 5%;
}

#candi .content{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#candi .wisatawan {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color :#000;
}

#candi .penjelasan {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
    

/* danau toba */
#danau {
    margin-top: 15%;
}

#danau img {
    border-radius: 12px;
    margin-top: 15%;
}

#danau .deskripsi-2 {
    margin-top: 5px;
    font-size: 20px;
}

#danau h1 {
    margin-top: 17%;
    font-size: 35px;
}

#danau .location-2 {
    font-size: 18px;
    margin-top: 8px;
    color: rgb(218, 88, 88);
    text-decoration: none;
}

#danau .location-2:hover {
    margin-left: 4%;
    transition: 0.4s;
}

#danau .content-2 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin-top: 5px;
}

#danau .informasi {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#danau .penjelasan-2 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* bromo */
#bromo {
    margin-top: 15%;
}

#bromo img {
    border-radius: 12px;
    margin-top: 15%;
}

#bromo .deskripsi {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 55px;  
}

#bromo h1 {
    margin-top: 17%;
    font-size: 35px;
}

#bromo .location {
    font-size: 18px;
    margin-top: 8px;
    color: rgb(218, 88, 88);
    text-decoration: none;
}

#bromo .location:hover {
    margin-left: 4%;
    transition: 0.4s;
}

#bromo .content {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin-top: 5px;
}

#bromo .informasi {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#bromo .penjelasan {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* footer */
footer {
    background: rgb(175, 91, 91);
}

footer h6,
p,
li,
a {
    color: #fff;
}

footer a:hover {
    color: rgb(144, 67, 207);  
}


